:root, 
    :root.theme1 {
        --bg-color: hsl(222, 26%, 31%);
        --toggle-bg-color: hsl(223, 31%, 20%);
        --screen-bg-color: hsl(224, 36%, 15%);

        --key-color: hsl(225, 21%, 49%);
        --key-shadow-color: hsl(224, 28%, 35%);
        --key-equal-color: hsl(6, 63%, 50%);
        --key-equal-shadow-color: hsl(6, 70%, 34%);
        --key-other-color: hsl(30, 25%, 89%);
        --key-other-shadow-color: hsl(28, 16%, 65%);

        --text-1: hsl(221, 14%, 31%);
        --text-2: #fff;
    }

    :root.theme2 {
        --bg-color:
        --toggle-bg-color: 
        --screen-bg-color: 

        --key-color: 
        --key-shadow-color: 
        --key-equal-color: 
        --key-equal-shadow-color: 
        --key-other-color: 
        --key-other-shadow-color: 

        --text-1: 
        --text-2: 
    }

    :root.theme3 {
        --bg-color:
        --toggle-bg-color: 
        --screen-bg-color: 

        --key-color: 
        --key-shadow-color: 
        --key-equal-color: 
        --key-equal-shadow-color: 
        --key-other-color: 
        --key-other-shadow-color: 

        --text-1: 
        --text-2: 
    }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'League Spartan', sans-serif;
    color: var(--text-2);
    background-color: var(--bg-color);
    height: 100vh;
    width: 100vw;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    resize: both;
    width: min(550px, 94vw);
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.top {
    height: 40px;
    width: 100%;
    margin: 8px;
    display: flex;
    justify-content: space-between;
}

.top h2 {
    font-size: 2em;
}

/* .theme-toggle {
    height: 80%;
    padding-right: 20px;
    display: grid;
    grid-template-rows: 64px 64px;
    grid-template-areas: 
    '. title'
    'label slider'
    '. .';
}

.top-row {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: end;
}
  
.title {
    grid-area: title;
    font-size: 14px;
    padding: 0 8px;
}

.bottom-row {
    height: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
}
  
#slider {
    -webkit-appearance: none;
    height: 28px;
    width: 58px;
    margin: 5px 0;
    background-color: var(--toggle-bg-color);
    border-radius: 16px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--key-equal-color);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}

#slider::-moz-range-thumb {
    background: var(--key-equal-color);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}

label {
    grid-area: label;
    font-size: 12px;
    height: 6px;
    width: 40px;
    display: inline-block;
} */

.screen {
    height: 140%;
    width: 100%;
    background-color: var(--screen-bg-color);
    border-radius: 12px;
    padding: 32px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.screen h1 {
    font-size: 7vh;
}

.numpad {
    height: calc(70%);
}

